.tcu-filter-heading {
	background: transparent;
	border: 0;
	border-bottom: 2px solid $dark-grey;
	color: $text-color;
	padding-bottom: $space-s;
	text-align: left;
	width: 100%;

	span {
		float: right;
	}
}

.tcu-filter-hide {
	display: none;
}

.tcu-gallery-filter {
	display: flex;
	flex-flow: row wrap;
	font-size: $font-small;
	justify-content: space-around;
	list-style: none;
	// The parent theme adds margin-left: 32px
	// to every UL element.
	// We need to remove it.
	margin-left: 0 !important;
	text-transform: uppercase;

	li {
		border: 1px solid $grey;
		border-radius: $space-xs;
		margin: $space-s auto;
		padding-left: $space-m;
		padding-right: $space-m;
	}
}

.tcu-gallery-current {
	background-color: $light-grey;
	font-weight: $font-bold;
	text-decoration: underline;

	a {
		color: $black;
	}
}

.tcu-gallery-item {
	position: relative;

	.tcu-gallery-hover {
		background-color: $white-opacity;
		border: 20px solid $black-opacity;
		bottom: 0;
		left: 0;
		margin: 0;
		opacity: 0;
		position: absolute;
		right: 0;
		text-align: center;
		top: 0;
		transition: all 0.3s;

		a {
			color: $black;
		}

		&:hover {
			opacity: 1;

			.tcu-action-btn {
				margin-top: -55px;
				opacity: 1;
				top: 45%;
			}

			.tcu-gallery-description {
				bottom: 55%;
				margin-bottom: -90px;
				opacity: 1;
			}
		}

		.tcu-action-btn {
			opacity: 0;
			position: absolute;
			text-align: center;
			top: 0;
			transform: translateY(45%);
			transition: all 0.3s 0.2s;
			width: 100%;
		}

		.tcu-gallery-description {
			bottom: 0;
			opacity: 0;
			position: absolute;
			text-align: center;
			transform: translateY(-55%);
			transition: all 0.3s 0.2s;
			width: 100%;
		}

		%tcu-icons {
			background-size: 30px 30px;
			display: block;
			height: 30px;
			margin: 0 auto;
			width: 30px;
		}

		.tcu-icon-magnifier {
			@extend %tcu-icons;
			background: url('../images/magnifying-glass.svg') center center no-repeat;
		}

		.tcu-icon-collection {
			@extend %tcu-icons;
			background: url('../images/link.svg') center center no-repeat;
		}
	}

	.tcu-gallery-thumb {
		align-items: center;
		display: flex;
		justify-content: center;
		margin: 0;
		overflow: hidden;
		position: relative;

		img {
			color: transparent;
			flex-shrink: 0;
			height: 100%;
			margin: 0;
			max-width: 100%;
		}
	}
}

.tcu-gallery-slider {
	position: relative;

	// We want to make sure the image covers the li
	.slides {
		// The parent theme adds a margin-left of 32px to
		// list items. We need to remove it from the slider list.
		margin-left: 0 !important;

		li {
			a {
				align-items: center;
				display: flex;
				justify-content: center;
				margin: 0;
				overflow: hidden;
				position: relative;

				img {
					flex-shrink: 0;
					height: 100%;
					margin: 0;
					max-width: 100%;
				}
			}
		}
	}

	.flex-control-nav {
		bottom: 20px;
		margin: 0;
		position: absolute;
		right: 15px;
		text-align: center;
		z-index: 10;
	}

	.flex-control-paging {
		li {
			a {
				background-color: $white;
			}

			a.flex-active {
				background-color: $secondary-yellow;
				box-shadow: unset;
			}
		}
	}
}
