//============================================
// Grid
//============================================
.tcu-gallery-size1of3,
.tcu-gallery-m-size1of2 {
	width: 100%;
}

@include media($small-screen) {
	.tcu-gallery-m-size1of1 {
		width: 100%;
	}

	.tcu-gallery-m-size1of2 {
		width: 50%;
	}

	.tcu-gallery-m-size1of3 {
		width: 33.3%;
	}
} // end of media query

@include media($large-screen) {
	.tcu-gallery-size1of1 {
		width: 100%;
	}

	.tcu-gallery-size1of2 {
		width: 50%;
	}

	.tcu-gallery-size1of3 {
		width: 33.3%;
	}
} // end of media query
